.contain{
	width: 100%;
	height:873px;
}
.contain .left_contain{
	
	width: 20%;
	height: 100%;
	line-height: 30px;
	float: left;
    padding: 5px;
	
}
.contain .left_contain ul li a{
	color: black; 
	width: 80%;
}
.contain .left_contain ul li:active{
	background-color: #007bff !important;
}
.contain .right_contain{
	float: left;
	height: 100%;
	line-height: 20px;
    margin-left: 40px;
    
}
.contain .right_contain button #logout{
text-align: center;
}
.contain .right_contain h1{
 text-align: center;
}
.contain .right_contain .info{
	width:200%;
    margin: 7px;
    padding: auto;
    padding: 40px;
}
.contain .right_contain .info h2{
	text-align: center;
}
.contain .right_contain .info table tr td a{
	text-decoration: none;
	color: white;
}
.contain .right_contain .info table {
	text-align: center;
}
.contain .right_contain .change{
	 margin: 7px;
    padding: 40px;
}


.footer
{
	width: 100%;
	height: 40px;
	background-color: #343a40;
	text-align: center;
	color: white;
	float: left;
	position: sticky;
	bottom: 0;
}
body a{
	text-decoration: none;
}